<%= form_for(editable_area) do |f| %>
  <% if editable_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(area.errors.count, "error") %> prohibited this editable area from being saved:</h2>

      <ul>
        <% editable_area.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content, :class => 'ckeditor' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
